.headerContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    @media (max-width: 767.98px) {
        padding: 10px 0;
    }
}



.promoBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3AB1C5;
    padding: 8px 0;
    .promoBarContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        display: inline-block;
    }
}

.promoBarText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 24px;

    p {
        margin-left: 16px;
    }

    a {
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.promoBarNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .promoBarNavItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        img {
            display: inline-block;
        }
        .promoSearch{
            margin-left: 20px;
            width: 24px;
            height: 24px;
        }
    }
    .promoBarNavItemLogin{
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        padding:0 20px;
        display: flex;

    }
}

.promoBarNavItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    img {
        display: inline-block;
    }
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1); /* Dark black background */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    color: #fff;
    .navContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navContentLeft{
            width: 133px;
            height: 62px;
            img{
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }
        .navMenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .navMenuItemsList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        list-style: none;
        li{
            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }
}
.navContentRightItem{
    display: flex;
    gap: 20px;
}