.batteryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-image: url('/battery-bg.png');
}

.cta{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
