.caseStudiesBanner:global([class*="innerPageBanner"]) {
    @media (min-width: 768px) and (max-width: 1199.98px) {
        height: 450px;
        padding-top: 0;
    }


}

.caseStudiesBanner :global([class*="innerPageBannerMainContent"]) {
    width: 57%;

    @media (max-width: 767.98px) {
        width: 100%;
    }
}

.caseStudiesPage :global([class*="dropdownsGroup"]) {
    width: 500px;

    @media (max-width: 767.98px) {
        width: 100%;
    }
}