.glassButton {
  display: flex;
width: 10.5625rem;
height: 3.75rem;
padding: 1.875rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 0.75rem;
border: 1px solid transparent;
background: rgba(11, 29, 39, 0.30);
backdrop-filter: blur(10px);
color: #fff;
font-size: 1rem;
font-weight: 300;
line-height: 1.5rem;
text-decoration: none;
transition: all 0.3s ease;
cursor: pointer;
text-align: center;
width: fit-content;
}

/* Gradient border using pseudo-element */
.glassButton::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(180deg, 
  rgba(58, 177, 197, 0.3) 100%, 
  rgba(147, 215, 114, 0.3) 50%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.glassButton img {
  display: inline-block;
}




