.parternersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0;
    overflow: hidden;
    background: linear-gradient(117deg, rgba(28, 45, 53, 0.5) 8.41%, rgba(22, 45, 53, 0.3) 87.92%);
}

.parternersHeader {
    text-align: center;
}

.parternersContent {
    width: 100%;
    overflow: hidden;
}

.parternersCard {
    display: flex;
    gap: 2rem;
    animation: scrollRightToLeft 30s linear infinite;
    will-change: transform;
}

.parternersCard:hover {
    animation-play-state: paused;
}

.parternersCardItem {
    flex-shrink: 0;
}

.parternersCardItemImage {
    width: 11.25rem;
    height: 5rem;
    padding: 1.875rem;
    border-radius: 0.75rem;
    border: 1px solid #3AB1C5;
    background: rgba(11, 29, 39, 0.30);
    backdrop-filter: blur(10px);
}



.parternersCardItemImage img {
    filter: brightness(0) invert(1);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.parternersCardItemImage:hover img {
    opacity: 1;
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
