.compatibilitySection {
  padding: var(--spacing-20) 0;

  @media (max-width:991.98px) {
    padding: var(--spacing-16) 0;
  }

  @media (max-width:768px) {
    padding: var(--spacing-10) 0;
  }

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    opacity: .3;
    background: radial-gradient(circle, #2bb1c5b8 0%, #90ddea0f 35%, #81d8e600 70%);
    width: 200vw;
    height: 1920px;
    position: absolute;
    bottom: -20%;
    left: -90vw;

    @media (max-width:992.99px) {
      width: 200vw;
    }
  }
}

.compatibilityTitle {
  margin-bottom: 1.25rem;
}

.compatibilityTitle span {
  color: #38b6c1;
}

.compatibilitySubtitle {
  color: #CCCCCC;
  margin: 0 0 2.25rem 0;
  max-width: 50rem;
}

.compatibilityPartnersDescription {
  display: flex;
  justify-content: center;
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
}

.compatibilityGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.compatibilityCard {
  border: 0.125rem solid #93D772;
  padding: 1.875rem;
  margin-bottom: 2.25rem;
  flex: 1 1 auto;
  min-width: 17.5rem;
}

.compatibilityCardTitle {
  color: #FFFFFF;
  margin-bottom: 1.125rem;
}

.compatibilityIconRow {
  display: flex;
  justify-content: space-between;
  gap: 1.6875rem;
  flex-wrap: wrap;


}

.compatibilityIconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8125rem;
  color: #FFFFFF;
  max-width: calc(20% - 25px);
  flex: 1 0 calc(20% - 25px);

}

.compatibilityIconItem img,
.compatibilityIcon {
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.compatibilityPartnersContainer {
  width: 100%;
}

/* ============================================================
   RESPONSIVE
   ============================================================ */


/* SM → 576px – 767.98px */
@media (min-width: 36rem) and (max-width: 47.99875rem) {


  .compatibilityCard {
    padding: 1.5rem;
    min-width: 100%;
  }

  .compatibilityIconRow {
    gap: 2.25rem;
  }


}

/* XS → ≤ 575.98px */
@media (max-width: 35.999375rem) {

  .compatibilitySubtitle {
    margin-bottom: 1.75rem;
  }

  .compatibilityCard {
    padding: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .compatibilityIconRow {
    gap: 1rem;
  }

  .compatibilityIconItem {
    font-size: 0.75rem;
    max-width: calc(33.33% - 50px);
    display: flex;
    flex: 1 0 calc(33.33% - 25px);
  }
}