.contentWrapper {
  flex: 1;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFoundHeading {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}

.description {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-light);
  margin-bottom: 1.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: var(--text-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-brand-secondary);
  text-decoration: underline;
}

.link:hover {
  color: var(--color-brand-primary);
}
