.imageCtaSection {
    padding: 0 0 var(--spacing-20) 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, #11181be6 51.51%, #11181b73 82.27%);

    @media (max-width:991.98px) {
        padding: 0 0 var(--spacing-16) 0;
    }

    @media (max-width:768px) {
        padding: 0 0 var(--spacing-10) 0;
    }

}


.imageCtaWrapper {
    width: 100%;
    margin-bottom: 24px;
    border-style: solid;
    border-width: .5px;
    border-image: linear-gradient(290deg, #3ab1c5 0%, #93d772 100%) 1;
}

.imageCtaEmptyState {
    padding: 8rem;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

.imageCtaMainImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.imageCtaButtonsContainer {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 3rem; */

}